{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Ink and Ideas</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

</head>

<body>
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <span>
            Ink & Ideas
          </span>
        </a>
        <div class="" id="">
          <div class="custom_menu-btn">
            <button onclick="openNav()" title="button">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="{% url 'home'  %}">Home</a>
                <a href="{% url 'about'  %}">About</a>
                <a href="{% url 'content_list' 'quote' %}">Quotes</a>
                <a href="{% url 'content_list' 'calligraphy' %}">Calligraphy</a>
                <a href="{% url 'content_list' 'poem' %}">Poems</a>
                <a href="{% url 'content_list' 'essay' %}">Essays</a>
                <a href="{% url 'content_list' 'blog' %}">Blogs</a>
                <a href="{% url 'contact'  %}">Contact</a>
                <a href="{% url 'signin'  %}">LogIn</a>
                <a href="{% url 'signup'  %}">Register</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  
  <section class="slider_section position-relative">
    <div class="slider_bg_box">
      <img src="{% static 'images/img_8.jpg' %}" alt="Creative Writing Background">
    </div>
    <div class="slider_bg"></div>
    <div class="container">
      <div class="col-md-9 col-lg-8">
        <div class="detail-box">
          <h1>
            Explore the Art of Words
            <br> Discover Writings & Creativity
          </h1>
          <p>
            Dive into a world of calligraphy, poetry, quotes, and essays that stir the soul. From thoughtful musings to intricate artistry, let your mind wander through the beauty of words.
          </p>
          <div>
            <a href="{% url 'home'  %}" class="slider-link">
              Explore Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Works
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{% static 'images/d_1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Price
                  <span>
                    $200
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{% static 'images/d_2.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Price
                  <span>
                    $300
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{% static 'images/d_3.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Price
                  <span>
                    $110
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{% static 'images/d_4.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  Price
                  <span>
                    $45
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>    
      </div>
      <div class="btn-box">
        <a href="{% url 'shop' %}">
          View All Works
        </a>
      </div>
    </div>
  </section>

  <section class="about_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/c_1.png' %}" alt="About Writings Image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              At <strong>Ink & Ideas</strong>, we believe in the power of words and the art of expression. Our platform is a sanctuary for those who love to share their thoughts, feelings, and creativity through quotes, poems, essays, and calligraphy. Whether you're looking to inspire, reflect, or simply express yourself, this is the place for you.
            </p>
            <p>
              Join our community of writers and artists, and explore a world where words and art blend beautifully to leave a lasting impact.
            </p>
            <a href="{% url 'about' %}">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <section class="offer_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 px-0">
          <div class="box offer-box1">
            <img src="{% static 'images/c_7.png' %}" alt="">
            <div class="detail-box">
              <h2>
                Upto 15% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-5 px-0">
          <div class="box offer-box2">
            <img src="{% static 'images/c_5.png' %}" alt="">
            <div class="detail-box">
              <h2>
                Upto 10% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
          <div class="box offer-box3">
            <img src="{% static 'images/c_2.png' %}" alt="">
            <div class="detail-box">
              <h2>
                Upto 20% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Latest Writings
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/img_1.jpg' %}" alt="Calligraphy Work">
              <h4 class="blog_date">
                14 <br>
                October
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                The Art of Words: Inspiring Calligraphy
              </h5>
              <p>
                Dive into the elegance of calligraphy, where each stroke tells a story and every letter is a masterpiece of art.
              </p>
              <a href="{% url 'content_list' 'calligraphy' %}">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/p_1.png' %}" alt="Poem Post">
              <h4 class="blog_date">
                15 <br>
                October
              </h4>
            </div>
            <div class="detail-box">
              <h5>
                A Poetic Journey: Reflections on Life
              </h5>
              <p>
                Explore a heartwarming poem that reflects on the beauty of life, love, and the little moments that make us who we are.
              </p>
              <a href="{% url 'content_list' 'poems' %}">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What Our Readers Say
        </h2>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/img_2.jpg' %}" alt="Reader 1" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Emily Carter
                      </h6>
                    </div>
                    <p>
                      "Ink & Ideas has truly transformed my perspective on writing. The quotes and poems shared here inspire me daily!"
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/c_3.png' %}" alt="Reader 2" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Jake Thompson
                      </h6>
                    </div>
                    <p>
                      "I love the calligraphy artworks featured on this blog. They add a unique touch to the quotes I cherish."
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/c_6.png' %}" alt="Reader 3" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Sarah Lee
                      </h6>
                    </div>
                    <p>
                      "The essays shared here are thought-provoking and beautifully written. A must-read for any literature lover!"
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
 
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row info_form_social_row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            <form action="">
              <input type="email" placeholder="Subscribe for Updates">
              <button type="submit" title="Subscribe">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="social_box">
            <a href="https://facebook.com" target="_blank" title="facebook" rel="noopener">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com" target="_blank" title="twitter" rel="noopener">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://linkedin.com" target="_blank" title="linkedin" rel="noopener">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row info_main_row">
        <div class="col-md-6 col-lg-3">
          <div class="info_links">
            <h4>
              Quick Links
            </h4>
            <div class="info_links_menu">
              <a href="{% url 'home' %}">Home</a>
              <a href="{% url 'about' %}">About Us</a>
              <a href="{% url 'content_list' 'blog' %}">Blog</a>
              <a href="{% url 'contact' %}">Contact</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_insta">
            <h4>
              Recent Works
            </h4>
            <div class="insta_box">
              <div class="img-box">
                <img src="{% static 'images/p_1.png' %}" alt="Recent Work 1">
              </div>
              <p>
                Inspiring Quotes
              </p>
            </div>
            <div class="insta_box">
              <div class="img-box">
                <img src="{% static 'images/img_1.jpg' %}" alt="Recent Work 2">
              </div>
              <p>
                Beautiful Calligraphy
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_detail">
            <h4>
              About Our Blog
            </h4>
            <p class="mb-0">
              Explore our collection of quotes, poetry, and calligraphy that inspire creativity and reflection. Join us on this literary journey.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>
            Get in Touch
          </h4>
          <div class="info_contact">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Our Location
              </span>
            </a>
            <a href="tel:+011234567890">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call +01 1234567890
              </span>
            </a>
            <a href="mailto:info@inkandideas.com">
              <i class="fa fa-envelope"></i>
              <span>
                info@inkandideas.com
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved
      </p>
    </div>
  </footer> 
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>

